body{
    --kaala--font-body:Poppins;
    --kaala--font-site-title:Poppins;
    --kaala--font-navigation:Poppins;
    --kaala--font-buttons:Poppins;
    --kaala--font-heading-1:Poppins;
    --kaala--font-heading-2:Poppins;
    --kaala--font-heading-3:Poppins;
    --kaala--font-heading-4:Poppins;
    --kaala--font-heading-5:Poppins;
    --kaala--font-heading-6:Poppins;
    --wpkoi--font-footer:Poppins;
    --wpkoi--font-fixed-side:Poppins;
    --kaala--body-background:#ffffff;
    --kaala--text-color:#000000;
    --kaala--link-color:#000000;
    --kaala--link-color-hover:#333333;
    --kaala--header-text-color:#000000;
    --kaala--header-link-color:#333333;
    --kaala--header-link-hover-color:#000000;
    --kaala--site-title-color:#000000;
    --kaala--site-title-bg-color:#FFF555;
    --kaala--navigation-background-color:#2ff55b;
    --kaala--navigation-text-color:#000000;
    --kaala--navigation-background-hover-color:#2ff55b;
    --kaala--navigation-text-hover-color:#000000;
    --kaala--navigation-text-current_color:#000000;
    --kaala--navigation-background-current-color:#2ff55b;
    --kaala--navigation-border-color:#000000;
    --kaala--subnavigation-background-color:#000000;
    --kaala--subnavigation-text-color:#ffffff;
    --kaala--subnavigation-background-hover-color:#000000;
    --kaala--subnavigation-text-hover-color:#dddddd;
    --kaala--subnavigation-text-current-color:#ffffff;
    --kaala--subnavigation-background-current-color:#000000;
    --kaala--form-button-background-color:#FFF555;
    --kaala--form-button-background-color-hover:#000000;
    --kaala--form-button-text-color:#000000;
    --kaala--form-button-text-color-hover:#ffffff;
    --kaala--form-button-border-color:#000000;
    --kaala--form-button-border-color-hover:#000000;
    --wpkoi--fixed-side-content-background-color:#ff7fff;
    --wpkoi--fixed-side-content-text-color:#000000;
    --wpkoi--fixed-side-content-link-color:#000000;
    --wpkoi--fixed-side-content-link-hover-color:#333333;
    --wpkoi--back-to-top-background-color:#fff555;
    --wpkoi--back-to-top-text-color:#000000;
    --wpkoi--back-to-top-background-color-hover:#000000;
    --wpkoi--back-to-top-text-color-hover:#ffffff;
    --kaala--form-text-color:#000000;
    --kaala--form-background-color:#ffffff;
    --kaala--form-border-color:#000000;
    --kaala--form-background-color-focus:#000000;
    --kaala--form-text-color-focus:#ffffff;
    --kaala--form-border-color-focus:#000000;
    --wpkoi--footer-text-color:#ffffff;
    --wpkoi--footer-background-color:#000000;
    --wpkoi--footer-link-color:#ffffff;
    --wpkoi--footer-link-hover-color:#dddddd;
    --wpkoi--scrollbar-track-color:#000000;
    --wpkoi--scrollbar-thumb-color:#fff555;
    --wpkoi--scrollbar-thumb-hover-color:#ffffff;
    --kaala--wc-sale-sticker-background:#000000;
    --kaala--wc-sale-sticker-text:#ffffff;
    --kaala--wc-price-color:#000000;
    --kaala--wc-product-tab:#333333;
    --kaala--wc-product-tab-highlight:#000000;
    --kaala--desktop-logo-width:8vw;
    --kaala--mobile-logo-width:12vw;
    --kaala--navigation-items-spacing:1vw;
    --kaala--navigation-items-width:0.5vw;
    --kaala--navigation-items-height:1.5em;
    --kaala--subnavigation-width:200px;
    --kaala--button-border-style:solid;
    --kaala--button-border:2px;
    --kaala--button-radius:0px;
    --kaala--button-rotate:rotate(0deg);
    --wpkoi--fixed-side-margin-top:250px;
    --wpkoi--fixed-side-margin-right:0px;
    --wpkoi--fixed-side-margin-bottom:0px;
    --wpkoi--fixed-side-margin-left:0px;
    --wpkoi--fixed-side-top:10px;
    --wpkoi--fixed-side-right:7px;
    --wpkoi--fixed-side-bottom:10px;
    --wpkoi--fixed-side-left:5px;
    --kaala--button-top:10px;
    --kaala--button-right:20px;
    --kaala--button-bottom:10px;
    --kaala--button-left:20px;
    --kaala--container-width:1170px;
    --kaala--header-top:1vw;
    --kaala--header-right:4vw;
    --kaala--header-bottom:0.5vw;
    --kaala--header-left:4vw;
    --kaala--mobile-header-top:1vw;
    --kaala--mobile-header-right:4vw;
    --kaala--mobile-header-bottom:0.5vw;
    --kaala--mobile-header-left:4vw;
    --kaala--site-title-top:0.4vw;
    --kaala--site-title-right:2vw;
    --kaala--site-title-bottom:0.4vw;
    --kaala--site-title-left:2vw;
    --kaala--mobile-site-title-top:0.4vw;
    --kaala--mobile-site-title-right:2vw;
    --kaala--mobile-site-title-bottom:0.4vw;
    --kaala--mobile-site-title-left:2vw;
    --kaala--content-top:4vw;
    --kaala--content-right:4vw;
    --kaala--content-bottom:4vw;
    --kaala--content-left:4vw;
    --kaala--mobile-content-top:4vw;
    --kaala--mobile-content-right:4vw;
    --kaala--mobile-content-bottom:4vw;
    --kaala--mobile-content-left:4vw;
    --kaala--side-top:0px;
    --kaala--side-right:0px;
    --kaala--side-bottom:0px;
    --kaala--side-left:0px;
    --kaala--mobile-side-top:0px;
    --kaala--mobile-side-right:0px;
    --kaala--mobile-side-bottom:0px;
    --kaala--mobile-side-left:0px;
    --kaala--side-padding-radius:0px;
    --kaala--body-font-weight:400;
    --kaala--body-font-transform:none;
    --kaala--body-font-size:19px;
    --kaala--mobile-body-font-size:19px;
    --kaala--body-line-height:1.3;
    --kaala--site-title-font-weight:900;
    --kaala--site-title-font-transform:uppercase;
    --kaala--site-title-font-size:3vw;
    --kaala--mobile-site-title-font-size:5vw;
    --kaala--navigation-font-weight:600;
    --kaala--navigation-font-transform:none;
    --kaala--navigation-font-size:1.4vw;
    --kaala--tablet-navigation-font-size:1.4vw;
    --kaala--mobile-navigation-font-size:14px;
    --kaala--buttons-font-weight:700;
    --kaala--buttons-font-transform:none;
    --kaala--buttons-font-size:19px;
    --kaala--mobile-buttons-font-size:19px;
    --kaala--heading-1-weight:600;
    --kaala--heading-1-transform:none;
    --kaala--heading-1-font-size:60px;
    --kaala--mobile-heading-1-font-size:30px;
    --kaala--heading-1-line-height:1.2em;
    --kaala--heading-2-weight:600;
    --kaala--heading-2-transform:none;
    --kaala--heading-2-font-size:32px;
    --kaala--mobile-heading-2-font-size:25px;
    --kaala--heading-2-line-height:1.2em;
    --kaala--heading-3-weight:600;
    --kaala--heading-3-transform:none;
    --kaala--heading-3-font-size:25px;
    --kaala--mobile-heading-3-font-size:25px;
    --kaala--heading-3-line-height:1.2em;
    --kaala--heading-4-weight:normal;
    --kaala--heading-4-transform:none;
    --kaala--heading-4-font-size:20px;
    --kaala--mobile-heading-4-font-size:20px;
    --kaala--heading-4-line-height:1em;
    --kaala--heading-5-weight:normal;
    --kaala--heading-5-transform:none;
    --kaala--heading-5-font-size:20px;
    --kaala--mobile-heading-5-font-size:20px;
    --kaala--heading-5-line-height:1em;
    --kaala--heading-6-weight:normal;
    --kaala--heading-6-transform:none;
    --kaala--heading-6-font-size:20px;
    --kaala--mobile-heading-6-font-size:20px;
    --kaala--heading-6-line-height:1em;
    --wpkoi--footer-weight:600;
    --wpkoi--footer-transform:none;
    --wpkoi--footer-font-size:18px;
    --wpkoi--mobile-footer-font-size:18px;
    --wpkoi--fixed-side-font-weight:700;
    --wpkoi--fixed-side-font-transform:none;
    --wpkoi--fixed-side-font-size:1.6vw;
    --wpkoi--mobile-fixed-side-font-size:22px;
    --kaala--form-padding-top:0.8rem;
    --kaala--form-padding-right:1rem;
    --kaala--form-padding-bottom:0.8rem;
    --kaala--form-padding-left:1rem;
    --kaala--form-border-radius:0px;
    --kaala--form-border-width:2px;
    --kaala--form-border-style:solid;
    --kaala--form-checkbox-size:30px;
    --kaala--form-checkbox-innersize:18px;
    --kaala--form-checkbox-padding:4px;
    --kaala--form-checkbox-bordersize:2px;
    --wpkoi--nav-border-width:2px;
    --wpkoi--scrollbar-width:12px;
    --wpkoi--scrollbar-radius:0px;
}
